@font-face {
  font-family: 'Bodoni';
  font-style: normal;
  font-weight: normal;
  src: local('Bodoni'), url('bodoni_[allfont.net].woff') format('woff');
}

.banner {
  background-color: darkgray;
}

.main_header {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 7%;
}

.main_btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form_list {
  display: none;
}
